
body {
    position:relative;
    width: 1000px;
    height:1000px;
    background-color:#FEEA77;
    font-family:Ubuntu;
    
    
    

}

h1 { font-style: bold;
    font-size:90px;
    font-family: Luckiest Guy;
     margin-top:20px;
    text-align: center;
    
    
}

p {
   font-size: 30px; 
    text-align: center;
    margin-left: 40px;
}

.title-container {
text-align: center;
    vertical-align: middle;
}

.contact {
    margin-top:50px;
    margin-bottom: 50px;
    margin-left:350px;
    margin-right:40%;
    padding:20px;
    display:inline-block;
    
    
   
    

}



input {
    padding:8px;
    margin:10px;
    
}

#submit {
    display:inline-block;
margin-left:80px;
    background-color: black;
    color:#fff;
}

.bottom-text {
   text-align: center;
}



#eyes img{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.changer {
    border:5px solid black;
}

#eyes {
    display:inline-block;
    height:100px;
    width:150px;
    margin-left:425px;
    margin-top: 50px;
    margin-bottom:-50px;
    
}
